@import url("reset.css");
@import url("loader.css");
@import url("gruvbox-dark-hard.min.css");
@import url("https://www.nerdfonts.com/assets/css/webfont.css");

body {
    margin: 0;
    padding: 0;
    background: #2e3440;
}

#container {
    background: #6A7768;
}

#code {
    font-size: 12.5pt;
    height: auto;
    height: 50vh;
    padding-top: 7vh;
    padding-left: 2vw;
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: #1D2021 #001524;
    background: #001524;
}

#loader {
    position: relative;
    top: 50%;
    left: 50%;
}

#code > pre > code {
    overflow: scroll;
    background: #001524;
    padding-left: 30px;
    padidng-right: 30px;
}

#flex-sections {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    overflow: auto;
}

.small-section {
    flex: 1 0 500px;
    justify-content: center;
}


#url-form {
    background: #3b4252;
}

#quick-links {
    overflow: auto;
    background: #4c566a;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 150px 150px auto;
    grid-gap: 25px;
    padding: 10px;
}

#quick-links button:nth-child(3n) {
    align-self: end;
}

.quicklink-preview {
    font-size: 42pt;
    border: none;
    border-radius: 12px;
    height: 150px;
    aspect-ratio: 1 / 1;
    background: #d8dee9;
}

#url-input:focus {
    border: none;
    outline: none;
}

#url-input {
    height: 50px;
    width: 500px;
    font-size: 17pt;
    border: none;
    border-radius: 100px;
    padding-left: 25px;
    padding-right: 0px;
    font-family: courier;
    spellcheck: false;
    background: #d8dee9;
}

#go-button {
    background: #d8dee9;
    height: 50px;
    width: 150px;
    font-size: 42pt;
    border: none;
    border-radius: 12px;
}

/* highlight.js overrides */
pre code.hljs {
    padding: 0;
    width: 100vw;
}

@media (max-width: 1000px) {
    #flex-sections {
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        overflow: visible;
    }

    #quick-links {
        overflow: visible;
        grid-template-columns: repeat(3, calc(30vw - 5px));
        grid-gap: 10px;
        margin-x: 10px;
            
    }

    .quicklink-preview {
        height: unset;
        width: min(150px, 100%);
        margin: auto;
        
        aspect-ratio: 1 / 1;
    }


}
