@import url("reset.css");
@import url("loader.css");
@import url("gruvbox-dark-hard.min.css");

main {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#container {
    background: orange;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 0;
    column-gap: 0;
}

#code {
    width: 100vw;
}

#url-form {
    background: red;
}

#quick-links {
    background: green;
}

.small-section {
    flex-grow: 2;
}


/* highlight.js overrides */
pre code.hljs {
    padding: 0;
    width: 100vw;
}

