@import url("reset.css");
@import url("loader.css");
@import url("gruvbox-dark-hard.min.css");
@import url("https://www.nerdfonts.com/assets/css/webfont.css");

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: #2e3440;
}

#container {
    background: #6A7768;
}

#code {
    font-size: 12.5pt;
    height: auto;
    height: 50vh;
    padding-top: 7vh;
    padding-left: 2vw;
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: #1D2021 #001524;
    background: #001524;
}

#loader {
    position: relative;
    top: 50%;
    left: 50%;
}

#code > pre > code {
    overflow: visible;
    background: #001524;
    padding-left: 30px;
    padidng-right: 30px;
}

#flex-sections {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    overflow: auto;
}

.small-section {
    flex: 1 0 500px;
    justify-content: center;
}

#url-form {
    background: #3b4252;
}

#input-area {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 80%;
    height: 100%;
    grid-template-rows: auto 75px 65px;
    grid-template-columns: 100%;
    padding: 0 10%;
}

#input-area label {
    color: #d8dee9;
    font-size: 30pt;
    font-family: monospace;
    font-weight: bold;
    align-self: end;
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 10px;
}

#quick-links {
    overflow: auto;
    background: #4c566a;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 150px 150px auto;
    grid-gap: 25px;
    padding: 10px;
    transition: all .3s ease;
}

#quick-links button:hover {
    box-shadow: 10px 11px 77px -32px rgba(255,255,255,1);
    transform: translateY(-5px);
    transition: all .3s ease;
}

#quick-links button:nth-child(3n) {
    align-self: end;
}

.quicklink-preview {
    font-size: 42pt;
    border: none;
    border-radius: 12px;
    height: 150px;
    aspect-ratio: 1 / 1;
    background: #d8dee9;
    cursor: pointer;
}

#url-input:focus {
    border: none;
    outline: none;
}

#url-input {
    height: 50px;
    width: 500px;
    font-size: 17pt;
    border: none;
    border-radius: 100px;
    padding-left: 25px;
    padding-right: 0px;
    font-family: courier;
    spellcheck: false;
    background: #d8dee9;
    grid-column: 1;
    grid-row: 3;
    width: calc(100% - 25px);
}

#go-button {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%, rgba(216,222,233,1) 100%); 
    height: 50px;
    width: 90px;
    font-size: 32pt;
    border: none;
    border-radius: 12px;
    grid-column: 1;
    grid-row: 3;
    justify-self: end;
    border-radius: 25px;
    cursor: pointer;
    transition: .3s ease;
}

#go-button:hover {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 40%, rgba(216,222,233,1) 100%);
}

#error-display {
    text-align: center;
    color: #bf616a;
    font-size: 30pt;
    font-family: monospace;
}

#current-url {
    color: #d8dee9;
    font-family: monospace;
    font-size: 20pt;
    max-width: 80%;
    word-break: break-word;
    align-self: start;
    justify-self: center;
    margin-top: 10px;
}

#current-url a {
    color: #ebcb8b;
}

#current-url a:visited {
    color: #ebcb8b;
}

/* highlight.js overrides */
pre code.hljs {
    padding: 0;
    width: 100vw;
}

/* small screen size tweaks */
@media (max-width: 1000px) {
    #code > pre > code {
        font-size: 18pt;
    }

    #flex-sections {
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        overflow: visible;
    }

    #quick-links {
        overflow: visible;
        grid-template-columns: repeat(3, calc(30vw - 5px));
        grid-gap: 10px;
        margin-x: 10px;
            
    }

    .quicklink-preview {
        height: unset;
        width: min(150px, 100%);
        margin: auto;
        
        aspect-ratio: 1 / 1;
    }

    #url-form {
        height: 100px;
    }

    #url-input {
        align-self: center;
        width: 90vw;
        border-radius: 5px;
    }

    #go-button {
        align-self: center;
        width: 90vw;
        border-radius: 5px;
        width: 25%;
    }

    #input-area {
        height 33%;
    }

    #input-area label {
        text-align: center;
    }

    #error-display {
        text-align: center;
        color: #bf616a;
        font-size: 30pt;
        font-family: monospace;
    }

    #current-url {
        text-align: center;
    }

}
